{% extends "layout.twig" %}

{% block title %}Index{% endblock %}
{% block content %}
    <h1>Sesion</h1>
    <form method="POST" action="/login">
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" required>
        
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required>
        
        <button type="submit">Sign in</button>
    </form>

    <button type="button" onclick="window.location.href='/users/register'">Sign up</button>
{% endblock %}